<!-- 
 * This file is part of Zoph.
 *
 * Zoph is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 * 
 * Zoph is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License
 * along with Zoph; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
!-->
<table class="credits">
  <tr>
    <th>Joaquim Azevedo</th>
    <td>Portuguese translation</td>
  </tr>
  <tr>
    <th>David Baldwin</th>
    <td>PHP 4.2 compatibility and fixes</td>
  </tr>
  <tr>
    <th>Chris Beauchamp</th>
    <td>PostgresSQL diff</td>
  </tr>
  <tr>
    <th>Edelhard Becker</th>
    <td>Debian packages</td>
  </tr>
  <tr>
    <th>Alexandr Bondarev</th>
    <td>Russian translation</td>
  </tr>
  <tr>
    <th>Roy Bonser</th>
    <td>Patches for web import function and major improvements of seach page.</td>
  </tr>
  <tr>
    <th>Charles Brunet</th>
    <td>Various bugfixes</td>
  </tr>
  <tr>
    <th>Nixon Childs</th>
    <td>Annotated photos</td>
  </tr>
  <tr>
    <th>Francesco Ciattaglia</th>
    <td>Italian translation</td>
  </tr>
  <tr>
    <th>Mark Cooper</th>
    <td>rpm packages, makefile, man page and fixes</td>
  </tr>
  <tr>
    <th>Alvaro Gonz&aacute;lez Crespo</th>
    <td>Spanish translation</td>
  </tr>
  <tr>
    <th>Nils Decker</th>
    <td>zophEdit script</td>
  </tr>
  <tr>
    <th>Antoine Delvaux</th>
    <td>Updated French translation, EXIF patch and zoph.org domain</td>
  </tr>
  <tr>
    <th>Dominique Dumon</th>
    <td>improvements</td>
  </tr>
  <tr>
    <th>Mufit Eribol</th>
    <td>Turkish translation</td>
  </tr>
  <tr>
    <th>Peter Farr</th>
    <td>zophImport.pl patches</td>
  </tr>
  <tr>
    <th>Pontus Fröding</th>
    <td>Bugfixes</td>
  </tr>
  <tr>
    <th><a href="http://www.geonames.org">Geonames project</a></th>
    <td>Coordinates to timezone lookup</td>
  </tr>
  <tr>
    <th>Donald Gover</th>
    <td>bugfixes</td>
  </tr>
  <tr>
    <th>Michael Hanke</th>
    <td>fixes</td>
  </tr>
  <tr>
    <th>Christian Hoenig</th>
    <td>improvements</td>
  </tr>
  <tr>
    <th>Raimund Hook</th>
    <td>Bugfix</td>
  </tr>
  <tr>
    <th>Jason (JiCit)</th>
    <td>Bugfixes</td>
  </tr>
  <tr>
    <th>Neels Jordaan</th>
    <td>Afrikaans translation</td>
  </tr>
  <tr>
    <th>Francisco Javier F&eacute;lix</th>
    <td>Updated Spanish translation, various bugfixes</td>
  </tr> 
  <tr>
    <th>Samuel Keim</th>
    <td>email notification, last login &amp; ip, PHP validation, improvements</td>
  </tr>
  <tr>
    <th>Ian Kerr</th>
    <td>fixes, Canadian English translation</td>
  </tr>
  <tr>
    <th>Krzysztof Kajkowski</th>
    <td>Polish translation</td>
  </tr>
   <tr>
    <th>S&#322;awomir Kubiak</th>
    <td>Updated Polish translation</td>
  </tr> 
  <tr>
    <th>David Kulp</th>
    <td>bugfixes</td>
  </tr>
  <tr>
    <th>Pekka Kutinlati</th>
    <td>Finnish Translation, bugfix</td>
  </tr>
  <tr>
    <th>Tetsuji Kyan</th>
    <td>bugfixes</td>
  </tr>
  <tr>
    <th>Patrick Lam</th>
    <td>Various improvements</td>
  </tr>
  <tr>
    <th>Asheesh Laroia</th>
    <td>htpasswd authentication, fixes</td>
  </tr>
  <tr>
    <th>Johan Linder</th>
    <td>Updated Swedish translation</td>
  </tr>
  <tr>
    <th>John Lines</th>
    <td>location lookup feature</td>
  </tr>
  <tr>
    <th>Mat Lee</th>
    <td>Traditional Chinese translation</td>
  </tr>
  <tr>
    <th>Haavard Leonardo Lund</th>
    <td>Norwegian translation</td>
  </tr>
  <tr>
    <th>Matthew MacIntyre</th>
    <td>bugfixes</td>
  </tr>
  <tr>
    <th>Mikael Magnusson</th>
    <td>Swedish translation</td>
  </tr>
  <tr>
    <th><a href="http://leafletjs.com">Leaflet project</a></th>
    <td>Leaflet mapping project</td>
  </tr>
  <tr>
    <th>Iv&aacute;n S&aacute;nchez Ortega</th>
    <td>Leaflet Google Plugin</td>
  </tr>
  <tr>
    <th>Neil McBride</th>
    <td>Adding multiple people at once</td>
  </tr>
  <tr>
    <th>Jan Miczaika</th>
    <td>importer, multiple ratings</td>
  </tr>
  <tr>
    <th>Francisco J. Montilla</th>
    <td>bugfixes and improvements</td>
  </tr>
  <tr>
    <th>Giles Morant</th>
    <td>Movie import script<td>
  </tr>
  <tr>
    <th>David Moulton</th>
    <td>improvements</td>
  </tr>
  <tr>
    <th>Aaron Parecki</th>
    <td>SSL Login</td>
  </tr>
  <tr>
    <th>Mario Peter</th>
    <td>German translation</td>
  </tr>
  <tr>
    <th>&quot;Prince01&quot;</th>
    <td>Hebrew translation</td>
  </tr>
  <tr>
    <th>Curtis Rawls</th>
    <td>Bugfixes</td>
  </tr>
  <tr>
    <th>Jeroen Roos</th>
    <td>CSS conversion and various changes</td>
  </tr>
  <tr>
    <th>Oliver Seidel</th>
    <td>Hierarchical directories in zophImport.pl</td>
  </tr>
  <tr>
    <th>Eric Seigne</th>
    <td>internationalization, French translation</td>
  </tr>
  <tr>
    <th>Sergey Chursin</th>
    <td>Russian translation</td>
  </tr>
  <tr>
    <th>Jesper Skytte</th>
    <td>Danish Translation</td>
  </tr>
  <tr>
    <th>Alan Shutko</th>
    <td>improvements</td>
  </tr>
  <tr>
    <th>Jason Taylor</th>
    <td>Various bugfixes</td>
  </tr>
  <tr>
    <th>Arjen Tebbenhof</th>
    <td>Dutch translation</td>
  </tr>
  <tr>
    <th>Hans Verbrugge</th>
    <td>Bugfix</td>
  </tr>
</table>
